
<header class="header-base header-promo ">
<app-logo/>
</header>


<main class="main-promo ">
  <img class="img-promo" src="assets/images/promo.jpg">



  <form class="login-form" [formGroup]="form">

    <app-text-field
      label="Email"
      name="email"
      [control] = "form.controls.email"
    />

    <app-password-field
      label="Password"
      [control] = "form.controls.password"
    />

    <button type="submit"
            (click)="login()"
            mat-raised-button class="btn-green"
    >
      Login
    </button>
  </form>
</main>




<footer class="footer-promo"></footer>
