//base colors
$green-cyan-p342: rgb(0, 106, 78);
$green-cyan-p341: rgb(0, 120, 86);
$ocean-p321: rgb(0, 149, 151);
$ocean-p2164: rgb(126, 147, 167);
$gray-p431: rgb(91, 103, 112);
$orange-p485: rgb(237, 27, 47);
$white-basic: #fcf9ff;
$black-basic: black;

//
$green-active-light: #0ed75d;
$green-active-middle:#16a34a;
$green-active-dark: #3e9300;


$black-blue-light:  #111827;
$black-blue-middle: #151d2f;
$black-blue-dark: #111827;


$blue-active: #3bbcf3;
$blue-sea: #3bc6c7;



$btn-blue:   #2563eb; // Tailwind/Stripe-like
$btn-yellow: #f59e0b; // Amber
$btn-red:    #dc2626; // Danger
$btn-gray:   #6b7280; // Neutral
$btn-black:  #111827; // Dark
