
  <mat-form-field appearance="outline">
    <mat-label>
      {{ label() }}
    </mat-label>
  <mat-select
    [multiple]="multiple()"
    [id] ="id()"
    [formControl]="control()"
    [required]="required()"
    [attr.required] = "requiredMarked() ?? required()"
  >

    @for (option of options(); track option.value) {

      <mat-option [value]="option.value">
        {{ option.label }}
      </mat-option>

    }
  </mat-select>



    <mat-error >
      {{errors[0]}}
    </mat-error>


  </mat-form-field>


