<div class="wrapper">
  <section class="panel ">
    <div class="panel__header">
      <button matIconButton class="btn-icon-circle" (click)="expandAll()">
        <mat-icon class="mat-icon ">folder_code</mat-icon>
      </button>
      <button matIconButton class="btn-icon-circle" (click)="collapseAll()" >
        <mat-icon class="mat-icon">expand_less</mat-icon>
      </button>
    </div>
    <div class="panel__body">
      <app-tree-documents
        [documentsTree] = "treeDocuments | async"
      >

      </app-tree-documents>
    </div>


  </section>
  <section class="panel">
    <div class="panel__header"></div>
    <div class="panel__body"></div>

  </section>


  <section class="panel">
    <div class="panel__header"></div>
    <div class="panel__body"></div>

  </section>
</div>
