<div class="wrapper">
  <section class="panel ">
    <app-active-buttons
      (expandAll) ="expandAll()"
      (collapseAll) =" collapseAll()"
      class="panel__header"/>
    <div class="panel__body">
      <h1 class="name-client">{{currentClient?.fullName}}</h1>
      <app-tree-documents
        [documentsTree] = "treeDocuments | async"
      >
      </app-tree-documents>
    </div>


  </section>
  <section class="panel">
    <div class="panel__header"></div>
    <div class="panel__body"></div>

  </section>


  <section class="panel">
    <div class="panel__header"></div>
    <div class="panel__body"></div>

  </section>
</div>
