<button class="button"
        [class.open]="!isOpen()"
        (click)="isOpen.set(!isOpen())">
  @if (value()){
    <img class="dropdown-img" [src]="value()?.imgUrl" alt="">
    <p>{{value()?.title}}</p>
  } @else {
    <p>{{title()}}</p>
  }
  <mat-icon class="chevron">expand_more</mat-icon>
</button>


@if (isOpen()){
  <ul class="dropdown__menu">
    @for (i of items(); track i.value){
      <li (click)="selectItem(i)">
        <img class="dropdown-img" [src]="i?.imgUrl" alt="">
        <p>{{i.title}}</p>
      </li>
    }
  </ul>
}

