

  <mat-form-field appearance="outline">
    <mat-label>
      {{ label() }}
    </mat-label>

  <input
    matInput
    [id] ="id()"
    [formControl]="control()"
    [placeholder]="placeholder()"
  />

  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="toggle()"
  >
    <mat-icon>
      {{ visible() ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </button>

<!--    <mat-hint [hidden]="!hint()">-->
<!--      {{ hint() }}-->
<!--    </mat-hint>-->


    <mat-error>
      {{errors}}
    </mat-error>


  </mat-form-field>


