.shell {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
}

/* AREAS */
.header {
  grid-area: header;
}

.main {
  grid-area: main;
  min-height: 0;
}

.footer {
  grid-area: footer;
}


.container {
  height: 100%;

}

.sidebar {
  width: 260px;
  border-radius: 0;
  box-shadow: 0 0 12px #c4c4c4;
}

.content {
  height: 100%;
  overflow: auto;
}
